<?xml version="1.0" encoding="utf-8"?>
<!-- Ferry for Android TV: a separate app built for the remote and a 10-foot screen. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Only offered on TVs. -->
    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- APKs sent to the TV open in the system installer (the user still confirms each install). -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application android:banner="@drawable/tv_banner">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
